%table.table
  %thead.table-light
    %tr
      %th ランキング名
      %th 登録作業
  %tbody
    - @rankings.each do |ranking|
      %tr
        %td
          - if link_to !ranking.is_registerable? || current_user.present?
            = link_to ranking.name, ranking_series_path(ranking.name)
          - else 
            = ranking.name
        %td= ranking.is_registerable? ? '登録作業中' : nil
