<div width="100%" align="center" style="background-color: black; padding: 0px; margin: 0px; border: 0px;">
<table border=0 width="760" cellspacing=0 cellpadding=0 border=0 style="background-color: black; color: white;">
<tr><td align=center colspan=2>
<marquee border="0" scrollamount="3" scrolldelay="48"><font color=skyblue>
マンガ読みたちが集うサークル、漫トロピーへよおこそ。
漫トロピーは漫画好きな人たちが集まって漫画の貸し借りをしたり、
年二回(08年度の場合)漫画についての冊子作成をしたりするサークルです。
詳細な活動内容は<a href="about">活動内容</a>をご覧ください。
</font></marquee>
</td></tr>

<tr>
<td align="left" valign="top"><img src="images/top.gif" alt="愛生会病院風漫トロピーロゴ"></td>

<td align="left" valign="top">
<table cellspacing=0 cellpadding=0 border=0 width=360>
<tr><td colspan=2><img src="images/logo.gif" alt="京大漫トロピー" width=360></td></tr>
<tr><td>マンガ読みたちが集うサークル、漫トロピーへよおこそ。</td>
<td><img src="images/logo_.gif" alt="京大漫トロピー" width=180></td></tr>
<tr><td><img src="images/logo.gif" alt="京大漫トロピー" width=180></td>
<td>漫トロピーは漫画好きな人たちが集まって漫画の貸し借りをしたり、</td></tr>
<tr><td>年二回(08年度の場合)漫画についての冊子作成をしたりするサークルです。</td>
<td><img src="images/logo.gif" alt="京大漫トロピー" width=180></td></tr>
<tr><td><img src="images/logo_.gif" alt="京大漫トロピー" width=180></td>

<td>詳細な活動内容は上メニューより<a href="about">活動内容</a>をご覧ください。</td></tr>
</table>
</td>
</tr>

<tr>
<td colspan=2 height=8></td>
</tr>

<tr>
<td align="left" valign="top" colspan=2>
<center><h2><a href="product/clonicle.html">漫画読みサークル 京大漫トロピー、夏コミにて会誌総集編を頒布。</a></h2></center>
<p>

英ニュースサイトのMantropyWebやMantropyInternationalBritainなどによると、京大漫トロピーは今夏コミックマーケットにおいて過去の会誌総集編を頒布するようだ。<br />
今回頒布予定の<strong>『漫トロピー クロニクル vol.1-5』（B5版 144ページ \1,000)</strong>では2008年から2010年に発行した会誌Vol.1～5の総集編となる。2008年から2010年までのおすすめ漫画ランキングやクロスレビューなどの一部が掲載される。販売するのは<strong>C80の3日目となる8月14日で、場所は東2 O-12b</strong>だ。……<br />
<a href="product/clonicle.html">（記事全文）</a></p>
<center><h2><a href="https://twitter.com/#!/mantropy/status/99732571960778752" target="_blank">夏コミ初参戦</a></h2></center>
<p>
C80では、会誌Vol.1-5の総集編『漫トロピークロニクル』（新刊）と会誌Vol.6（2011年春号）を頒布する予定です。その他既刊も若干数頒布いたします。是非お越しください。 [8/14 #C80 東2 O-12b]<br />
<a href="https://twitter.com/#!/mantropy/status/99732571960778752" target="_blank">（記事全文）</a></p>

<p style="color: black;">
キェェェェエエエエ！！！
</p>
</td>
</tr>


<tr>
<td align=center valign=bottom colspan=2 height=302 background="images/mantro_chan.jpg">
<img src="images/logo_m.gif"><br>
<font color="black">漫トロのイメージキャラクター、「まんとろちゃん」</font></td>
</tr>

</table>
</div>
