%p
 こんにちは #{@resource.email} さん！
%p 誰かがあなたのアカウントに対してパスワードリセットを要求しました。あなたは以下のリンクからパスワードをリセットすることができます。
%p= link_to 'パスワードをリセットする', edit_password_url(@resource, :reset_password_token => @token)
%p あなたがこの操作をしたのでなければこのメールは無視して下さい。
%p あなたのパスワードは上記リンクをクリックしなければ変更されることはありません。
